/* * {
  border: 1px solid pink
} */


/* #main {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid black
}

#spell-list, #spell-card {
  flex: 1;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
} */

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

#main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden; /* Prevent overflow */
}

#spell-list, #spell-card {
  padding: 5px;
  border: 1px solid black;
}

#spell-list {
  flex: 2;
  overflow-y: auto;
}

#spell-card {
  flex: 3;
  background: white;
  overflow-y: auto;
}

#spell-stats {
  background-color: rgb(237, 237, 237);
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  #main {
    flex-direction: column;
  }

  #spell-list {
    flex: 1;
    overflow-y: auto; 
  }

  #spell-card {
    flex: 3;
    overflow-y: auto; 
    padding-bottom: 10vh;
  }
}
